.our-organizers {
	.row {
		--bs-gutter-x: 1.6rem;
		--bs-gutter-y: 4.2rem;
	}

	.organizer-card-wrapper {
		.organizer-card {
			max-height: 136px;
			.organizer-img {
				aspect-ratio: 168/209;

				img {
					width: 135px;
					position: relative;
					top: -10%;
					object-fit: cover;
				}
			}

			.speaker-name {
				letter-spacing: -0.8px;
			}
		}
	}
}

@media (min-width: 992px) {
	.our-organizers {
		.section-title {
			max-width: 938px;
		}
	}
}
