.our-journey {
	background: linear-gradient(180deg, #dcf3fd 0%, #f3f8fc 33.54%);
	overflow: hidden;

	.our-journey-card {
		.row {
			--bs-gutter-x: 1.6rem;
		}

		.our-journey-img {
			aspect-ratio: 16/9;
			// overflow: hidden;
			position: sticky;
			top: 0;
			align-self: start;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.our-journey-content {
			h3,
			h2 {
				margin-bottom: 24px;
				letter-spacing: -0.96px;
			}
		}
	}

	.our-journey-slider {
		.slider-nav {
			padding-top: 68px;
			position: sticky;
			top: 2px;
			width: 100px;
			height: fit-content !important;

			.slick-list {
				padding: 0 0 0 0 !important;
				height: fit-content !important;

				.slick-track {
					height: fit-content !important;
				}
			}

			.year-dot {
				position: relative;
				cursor: pointer;
				padding-left: 2rem;
				z-index: 1;

				.year {
					font-size: 12px;
					opacity: 0;
				}

				&::before {
					content: "";
					position: absolute;
					top: 40%;
					left: 0;
					height: 1px;
					width: 12px;
					background: var(--primary-light);
					opacity: 0;
				}

				&::after {
					content: "";
					position: absolute;
					top: 6px;
					right: 25px;
					width: 8px;
					height: 8px;
					border-radius: 50%;
					background: var(--gray);
					transition: all 0.3s ease;
					opacity: 0.3;
				}
			}

			.slick-current {
				.year-dot {
					&::after {
						width: 10px;
						height: 10px;
						top: 6px;
						right: 24.5px;
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg filter='url(%23filter0_d_209_2161)'%3E%3Ccircle cx='8' cy='8' r='4' fill='%231C74F0'/%3E%3Ccircle cx='8' cy='8' r='5' stroke='%23F3F8FC' stroke-width='2'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_209_2161' x='0' y='0' width='16' height='16' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeMorphology radius='2' operator='dilate' in='SourceAlpha' result='effect1_dropShadow_209_2161'/%3E%3CfeOffset/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.109804 0 0 0 0 0.454902 0 0 0 0 0.941176 0 0 0 1 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_209_2161'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_209_2161' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
						background-repeat: no-repeat;
						background-size: contain;
						opacity: 1;
					}

					&::before {
						opacity: 1;
					}

					.year {
						opacity: 1;
					}
				}
			}
		}

		.slider-nav.no-after::after {
			bottom: -50px;
		}

		.slider-for {
			padding: 0 !important;
			margin: 0 !important;
			height: auto !important;

			> .slider-card {
				&:not(:first-child) {
					display: none !important;
				}

				&:first-child {
					max-width: fit-content;
					max-height: fit-content !important;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.our-journey {
		.our-journey-card {
			.our-journey-img {
				aspect-ratio: 588/380;
				position: sticky;
				top: 10px;
			}
		}
	}
}

@media (min-width: 992px) {
	.our-journey {
		.section-title {
			max-width: 938px;
		}
	}
}
