.speaker-testimonial {
	.section-title {
		h2 {
			letter-spacing: -1.6px;
		}
	}

	.speaker-testimonial-slider {
		margin: 0 -0.8rem;

		.slick-slide:nth-child(even) > div > .speaker-testimonial-card {
			margin-top: 48px;
		}

		> .speaker-testimonial-card {
			&:not(:first-child) {
				display: none !important;
			}

			&:first-child {
				max-width: fit-content;
				max-height: fit-content !important;
			}
		}

		.slick-list,
		.slick-track {
			display: flex;

			.slick-slide {
				> div {
					margin: 0 0.8rem;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.speaker-testimonial {
		.section-title {
			max-width: 578px;
		}
	}
}
