.event-banner {
	.section-title {
		h1 {
			letter-spacing: -3.2px;
			background: linear-gradient(87deg, #0e3a7c 10.16%, #24b2f0 89.3%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	.event-banner-img {
		aspect-ratio: 1044/424;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

@media (min-width: 992px) {
	.event-banner {
		.section-title {
			max-width: 831px;
			margin: auto;
		}

		.event-banner-img {
			max-width: 1044px;
			margin: auto;
		}
	}
}
